.list-group {
    overflow-y: scroll;
    max-height: 300px;
}

.list-group-item:hover {
    background: #d9dad9;
}

input.list-input {
    border-radius: 5px;
    background: #ffffff;
    width: 100%;
    height: 40px;
}
